<footer class="">
  <section class="">
    <div class="container-fluid bg-section">
      <div class="row p-5">
        <div class="col-md-4 my-5">
          <div class="cont text-center text-white">
            <h3>LOCATION</h3>
            <P>2215 John Daniel Drive</P>
            <P>Clark, MO 65243</P>
          </div>
        </div>
        <div class="col-md-4 my-5">
          <div class="cont text-center text-white">
            <h3>AROUND THE WEB</h3>
            <div class="icons d-flex justify-content-center">
              <div class="icon"><i class="fa-brands fa-facebook"></i></div>
              <div class="icon"><i class="fa-brands fa-twitter"></i></div>
              <div class="icon"><i class="fa-brands fa-linkedin-in"></i></div>
              <div class="icon"><i class="fa-solid fa-globe"></i></div>
            </div>
          </div>
        </div>
        <div class="col-md-4 my-5">
          <div class="cont text-center text-white">
            <h3>ABOUT FREELANCER</h3>
            <p>
              Freelance is a free to use, licensed Bootstrap theme created by
              Route
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="footer">
    <p class="text-white text-center py-4 m-0">Copyright © Your Website 2021</p>
  </div>
</footer>
