.home {
    background-color: #1abc9c;
    padding-top: 104px;
    height: 97vh;
    color: #fff;
    h2 {
        font-weight: 700;
        font-size: 40px;
        margin: 15px 0 ;
    }

    .lines {
        .line {
            background-color: #fff;
            width: 80px;
            height: 3.5px;
        }
    }
    p{
        margin-top: 16px;
    }
}
@media (max-width: 900px) {
    .home h2 {
        font-size: 32px;
    }
}